<!--<my-header></my-header>-->

<div class="about background-green1-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">MENU</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 ">
                <div class="cube-box" [@heroState]="hero.state">1</div>
            </div>
            <div class="col-lg-2" (click)="gotoAnimation()">
                <div class="cube-box">Animation</div>
            </div>
            <div class="col-lg-2">
                <div class="cube-box">1</div>
            </div>
            <div class="col-lg-2">
                <div class="cube-box">1</div>
            </div>
            <div class="col-lg-2">
                <div class="cube-box">1</div>
            </div>
            <div class="col-lg-2">
                <div class="cube-box">1</div>
            </div>
        </div>
    </div>
</div>