@import "../components/styles/sass/_vars.scss";
.about {
    color: $white;
    padding-bottom: 50px;
    .cube-box{
        background: #000;
        border-radius: 2rem;
        margin: 0.2rem;
        min-height: 6rem;
    }
}