<div class="home bg_primary">
    <div class="row home-top">
        <div class="col-sm-12 home-title">
            <h2 class="text-center home-title">Hello,World</h2>
        </div>
    </div>
    <div class="row index-content triangles">
        <div class="col-sm-6 col-xs-12 content-text">
            <h3 class="content-title" [innerHtml]="indexTitle"></h3>
            <p [innerHtml]="indextContent"></p>
        </div>
        <div class="col-sm-6 col-xs-12 text-center index-img">
            <a routerLink="['about']">
                <img src="/public/img/index/a.jpg" />
            </a>
        </div>
    </div>
</div>